# 1) String

#### 1}Check if a given string is a palindrome.

In [2]:
Str1= input()
str2= Str1[::-1] 
if Str1==str2 :
    print ("yes")
else : print("no")

 523645

no

#### 2}Count the number of vowels in a string and store the result in a dictionary

In [5]:
s= 'frequently'
vowel= "aeiou"
count= {v:s.count(v) for v in vowel}
print(count)

{'a': 0, 'e': 2, 'i': 0, 'o': 0, 'u': 1}

#### 3} Convert the first letter of each word in a string to uppercase

In [11]:
"tihtfnutyrmify, this , vowels".title()

'Tihtfnutyrmify, This , Vowels'

#### 4} Find the most frequently occurring character in a string

In [17]:
Str2="tihtfnutyrmify, this , vowels"
char_counts = {} 
max_count = 0
max_char = ''

for char in Str2:
    char_counts[char] = char_counts.get(char, 0) + 1

print(char_counts)

{'t': 4, 'i': 3, 'h': 2, 'f': 2, 'n': 1, 'u': 1, 'y': 2, 'r': 1, 'm': 1, ',': 2, ' ': 3, 's': 2, 'v': 1, 'o': 1, 'w': 1, 'e': 1, 'l': 1}

#### 5} Count digits, alphabets, and special characters separately in a string

In [1]:
input_string = "Anaconda@12356"
alphabet_count = 0
digit_count = 0
special_char_count = 0

for char in input_string:
    if char.isalpha():
        alphabet_count += 1
    elif char.isdigit():
        digit_count += 1
    else:
        special_char_count += 1
print(alphabet_count)
print(digit_count)
print(special_char_count)

8
5
1

# 2) list

#### 1)Remove duplicate elements from a list without using set()

In [29]:
str2=[1,2,3,4,5,6,7,7,7,8,9,]
a=[]
for i in str2:
    if(i not in a):
        a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 2) Reverse a list without using built-in functions.

In [17]:
OG= [1, 2, 3, 4, 5]
reverse= []
for i in range(len(OG)- 1,):
   reverse.append(OG[i])
print(reverse)

[1, 2, 3, 4]

#### 3 Find the 2nd largest and 2nd smallest element in a list.

In [19]:
nums = [10, 4, 7, 2, 9, 2, 10, 5]
my_set = set(nums)
my_list = list(my_set)
print(my_list)
my_list.sort()
second_smallest = my_list[1]
print(second_smallest)
second_large = my_list[-1]
print(second_large)

[2, 4, 5, 7, 9, 10]
4
10

#### 4 Store the square of each element of a list into a new list (using list comprehension).

In [1]:
SQ=[1,2,3,4,5,6]
square = [i**2 for i in SQ]
print(square)

[1, 4, 9, 16, 25, 36]

#### 5 Flatten a nested list into a single list.

In [4]:
L2= [[1,2,], [3,4]]
for i in L2:
    for j in i:
        list.append(L2)
    print(L2)

TypeError: list.append() takes exactly one argument (0 given)

# 3) tuple

#### 1 Reverse a tuple without using [::-1].

In [47]:
Str1= (1,2,3,4,5,6,)
Str2=tuple(reversed(Str1))
print(Str2)

(6, 5, 4, 3, 2, 1)

#### 2 Extract unique elements from a tuple and store them in a new list.

In [51]:
Str1= (1,2,3,4,4,4,5,5,5,6,)
str3=set(Str1)
print(str3)

{1, 2, 3, 4, 5, 6}

#### 3. Concatenate two tuples and sort them

In [64]:
Str1= (1,2,3,4,4,4,5,5,5,6,) 
Str2= (1,2,3,4,)
SSTTRR=(Str1+Str2)
print(SSTTRR)

(1, 2, 3, 4, 4, 4, 5, 5, 5, 6, 1, 2, 3, 4)

#### 4 Count the frequency of an element in a tuple without using count()

In [90]:
Str1 = (1, 2, 3, 4, 4, 4, 5, 5, 5, 6,)
Der = 5
tup = 0
for i in Str1:
    if i == Der:
        tup += 1
print(counter)

3

#### 5 From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers

In [19]:
Str_ = (1, 2, 3, 4, 5, 6, 7, 8, 9)

for i in Str_:
    if i % 2 == 0:
        print("even number:",i)

for i in Str_:
    if i % 2 != 0:
       print("odd number:",i)

even number: 2
even number: 4
even number: 6
even number: 8
odd number: 1
odd number: 3
odd number: 5
odd number: 7
odd number: 9

# 4) Set

####  1} Perform union, intersection, and difference of two sets without using built-in operators

In [1]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {7,8,9}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
s1.intersection(s2)

{7, 8}

In [33]:
s1.difference(s2)

{1, 2, 3, 4, 5, 6}

#### 2} Remove a random element from a set (without using pop())

In [34]:
s1 = {1,2,3,4,5,6,7,8}
s1.remove(3)

In [35]:
s1

{1, 2, 4, 5, 6, 7, 8}

#### 3}Convert a list into a set and check if duplicates are removed.

In [37]:
str2=[1,2,3,4,5,6,7,7,7,8,9,]
set(str2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 4}Check if two sets are disjoint.

In [38]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {7,8,9}
s1.isdisjoint(s2)

False

#### 5}Find the sum of all elements in a set

In [39]:
s1 = {1,2,3,4,5,6,7,8}
sum(s1)

36

# 5) Dictionary

#### 1) Create a dictionary and print keys in ascending order

In [61]:
d1 = {"jan":31, "feb": 28, "march":31, "april":30}

In [62]:
sorted(d1.keys())

['april', 'feb', 'jan', 'march']

#### 2) Add a new key to a dictionary with value equal to the sum of existing values

In [89]:
d1 = {"jan":31, "feb": 28, "march":31, "april":30}
d1.update({"may":45})
print(d1)

{'jan': 31, 'feb': 28, 'march': 31, 'april': 30, 'may': 45}

#### 3)Merge two dictionaries into one.

In [92]:
d1 = {"jan":31, "feb": 28, "march":31, "april":30}
d2 = {"june":56, "july": 38, "august":35}
d3 = d1|d2
print(d3)

{'jan': 31, 'feb': 28, 'march': 31, 'april': 30, 'june': 56, 'july': 38, 'august': 35}

#### 4) Find the key with the largest value in a dictionary

In [94]:
d1 = {"jan":31, "feb": 28, "march":31, "april":30}
max(d1)

'march'

#### 5)Store the frequency of characters of a string in a dictionary

{'H': 1, 'e': 1, 'l': 3, 'o': 2, 'W': 1, 'r': 1, 'd': 1}

# 6) conditional Statements

#### 1) Take age as input and check if the person is eligible to vote or not

In [7]:
age= int(input())

if age >= 18:
    print('eligible to vote')
else: 
    print("Not eligible to vote ")

 145

eligible to vote

#### 2)Find the largest among three numbers (using nested if)

In [5]:
q,q1,q2= 45,56,85

if q >= q1:
    print (q)
elif q1 >= q2:
    print (q1)
else :
    print (q2)

85

#### 3) Check if a given number is prime or not.

In [ ]:
Prime= int(input())

if prime is >= 1 and not

#### 4) Assign grade (A, B, C, Fail) based on marks input

In [24]:
marks = int(input())

if marks >= 90:
    print ("A grade")
elif marks <= 75:
    print ("b grade")
elif marks <= 60:
    print ("c grade")
else:
    print ("Fail")

 45

b grade

#### 5) Check if a number is positive, negative, or zero.

In [29]:
num= int(input())

if num > 0:
    print ("Positive")
elif num < 0:
    print ("Negative")
else:
    print ("Zero")

 -45

Negative

# 7) Loops â€“ For & While

####  1) Print the first 10 numbers of the Fibonacci series using for loop.

In [23]:
a,b = 0,1
for i in range (10):
    print(a, end=" ")
    a,b = b, a+b

0 1 1 2 3 5 8 13 21 34

#### 2) Find the factorial of a number using while loop.

In [26]:
n = 8

W = 1
for i in range(1, n + 1):
    W *= i
print(W)

40320

#### 3) Input a number and find the sum of its digits using while loop

In [27]:
n= int(input())
s = 0
while n>0:
    s+= n%10
    n//=10
print(s)

 78

15

#### 4) Print all elements of a list in reverse order without using reverse()

In [29]:
a = [1, 2, 3, 4, 5]
rev = a[::-1]
print(rev)

[5, 4, 3, 2, 1]

#### 5) Print a star pattern (triangle) using nested loops.

In [3]:
rows = 5

# Outer loop for rows
for i in range(rows):
    # Inner loop for printing stars
    for j in range(i + 1):
        print("* ", end="")
    # Move to the next line after each row
    print()

*
* *
* * *
* * * *
* * * * *

# 8) File Handling

#### 1) Write some text into a file and then read and print it

In [43]:
f = open("test1.txt", "w")

In [44]:
f.write("Write a program that takes user input and prints its square. Handle errors if input is invalid")

94

In [49]:
f.close()

In [50]:
f = open("test1.txt","r")

In [51]:
f.read()

'Write a program that takes user input and prints its square. Handle errors if input is invalidWrite a program that takes user input and prints its square. Handle errors if input is invalid'

#### 2) Count the total number of lines in a file

In [69]:
file = open("test1.txt", "r")
line = len(file.readlines())
print(line)

1

#### 3) Count vowels and consonants in a file

In [7]:
with open ("test1.txt") as f:
    text= f.read().lower()
vowel = sum(ch in "aeiou" for ch in text)
consonants = sum(ch.isalpha() and ch not in "aeiou" for ch in text)
print(vowel, consonants)

58 96

#### 4) Convert the content of a file into uppercase and store it in another file.

In [74]:
file = open("test1.txt", "r")
line = (file.readlines())
print(line)

['Write a program that takes user input and prints its square. Handle errors if input is invalidWrite a program that takes user input and prints its square. Handle errors if input is invalid']

#### 5) Read a CSV file and print its rows.

# 9) OS Module

#### 1) Print the current working directory using os module.

In [10]:
import os

In [11]:
os.getcwd()

'C:\\Users\\vaibh\\python 1'

#### 2) Create a new folder using os module and create a file inside it.

In [14]:
os.chdir("D:\\Desktop")
os.mkdir("new_folder")
os.chdir("D:\\Desktop\\new_folder")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'D:\\Desktop'

In [13]:
%%writefile new_file.txt
!hello python

Writing new_file.txt

#### 3) List all files and folders inside a directory.

In [21]:
os.chdir("Users\vaibh\OneDrive\Desktop")
os.listdir()

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'Users\x0baibh\\OneDrive\\Desktop'

#### 4) Check the size of a file using os module

#### 5) Count all .txt files in a directory.

In [15]:
os.listdir()

['.ipynb_checkpoints',
 '01. Python Basics.ipynb',
 '02. Build-in Functions.ipynb',
 '03. List and Operation.ipynb',
 '04. String and Operations.ipynb',
 '05. Tuple and operation.ipynb',
 '06. Set and operation.ipynb',
 '07. Dictionary and operations.ipynb',
 '08. Conditions-1.ipynb',
 '09. Conditions-2.ipynb',
 '10. Loops-1.ipynb',
 '11. loop-2.ipynb',
 '13. File_handling.ipynb',
 '14. Try and Except, Logging.ipynb',
 '15. User_define.ipynb',
 '16. User_define_function-2.ipynb',
 '17. global, map, reduce, filtter.ipynb',
 '18. OOPs-1.ipynb',
 '19. OOPs-2.ipynb',
 'assignment 1.ipynb',
 'condition pratice.ipynb',
 'dict practice.ipynb',
 'list practice[ ].ipynb',
 'new_file.txt',
 'Python Practice Questions .ipynb',
 'Python Practice Questions1.ipynb',
 'Test1.ipynb',
 'test1.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

# 10) Try-Exception

#### 1) Write a program that takes user input and prints its square. Handle errors if input is invalid.

In [22]:
try:
    user = int(input())
    num  = float(user)
    square = num ** 2
    print(square)
except ValueError:
    print("Invalid input. Please enter a valid number.")

 45

2025.0

#### 2) Handle ZeroDivisionError with an example program.

In [23]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print(f"Result: {y}")
except ValueError:
    print("Invalid input. Please enter a valid integer.")
except ZeroDivisionError:
    print("Cannot divide by zero. Please enter a non-zero number.")
except Exception as e:
    print(f"Error occurred: {e}")

Enter a number:  45

Result: 0.2222222222222222

#### 3) Handle FileNotFoundError with an example program.

In [24]:
try:
    with open(filename, 'r')as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print(f"Error: The file '{filename}' was not found.")
    print("please ensure the file exists and the path is correct")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

An unexpected error occurred: name 'filename' is not defined

#### 4) Handle both ValueError and TypeError with an example.

In [25]:
try:
    num = int(input())
    if num < 0:
        raise ValueError("input cannot be a negative number")
    print(f"Successfully processed number: {num}")

except (ValueError, TypeError) as e:
    print(f"an error occured: {e}")

 45

Successfully processed number: 45

#### 5) Write a program with finally block that opens and closes a file.

In [26]:
file_object = None  
try:
  
    file_object = open("example.txt", "w")
    file_object.write("This is a line written to the file.\n")
    file_object.write("Another line.\n")
    print("Content written to 'example.txt'")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # This block will always execute, regardless of whether an exception occurred
    if file_object:  # Check if the file object was successfully created
        file_object.close()
        print("File 'example.txt' has been closed.")
    else:
        print("File object was not created, nothing to close.")

Content written to 'example.txt'
File 'example.txt' has been closed.