### 1. Find the 2nd largest and 2nd smallest element in a list.

In [47]:
nums = [10, 4, 7, 2, 9, 2, 10, 5]
my_list.sort()
second_smallest = my_list[1]
print(second_smallest)
second_large = my_list[-1]
print(second_large)

4
10

### 2. Find the key with the largest value in a dictionary.

In [3]:
dic = {"jan":31, "feb": 28, "march":31, "april":30}
max(dic)

'march'

### 3. Create a new folder using os module and create a file inside it.

In [12]:
import os

In [25]:
os.chdir("C:\\Users\\vaibh\\OneDrive\\Desktop")
os.makedirs("new folder3")

In [26]:
os.getcwd()

'C:\\Users\\vaibh\\OneDrive\\Desktop'

### 4. Write a recursive function to calculate Fibonacci series up to n terms.

In [29]:
a,b = 0,1
for i in range (int(input())):
    print(a, end=" ")
    a,b = b, a+b

 10

0 1 1 2 3 5 8 13 21 34

### 5. Use a lambda with map() to convert a list of integers into their cubes.

In [46]:
numbers = [1, 2, 3, 4, 5]
cubes = list(map(lambda x: x**3, numbers))
print(cubes)

[1, 8, 27, 64, 125]

### 6. Create a class Employee that increases salary by 10%.

In [ ]:
class Employee:

### 7. Write a program to print the date 30 days from today.

In [30]:
import datetime

In [34]:
from datetime import date
today = date.today()

In [35]:
today

datetime.date(2025, 9, 16)

In [40]:
fudate = today + timedelta(days=30)
print(fudate)

2025-10-16

### 8. Write a program to convert radians to degrees and vice versa.

### 9. Write a regex to validate if a string is a valid Indian mobile number (10 digits).

### 10. Create a class Bank with encapsulated methods to show account details securely.